body{
    background-color:#F6E27F;
    font-family: Arial, sans-serif;
    margin:0;
}
/* Start Page */
#startPage{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
}

h1{
    font-size:50px;
    margin-bottom:30px;
}

#startBtn{
    padding:12px 25px;
    font-size:18px;
    border:none;
    border-radius:10px;
    cursor:pointer;
}

/* Level Page */
#levelPage{
    display:none;
    text-align:center;
    margin-top:150px;
}

h2{
    font-size:55px;
}

#emoji{
    font-size:100px;
    margin:40px;
}

button{
    padding:12px 20px;
    font-size:18px;
    border:none;
    border-radius:10px;
    cursor:pointer;
}

#result{
    margin-top:20px;
    font-size:22px;
}
